In [3]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("/Users/ulia/Desktop/sales-cleaning/store_sales_dirty_data.csv")

# Show the first few rows
print(df.head())

   ID Product Name   Category  Quantity  Unit Price   Sale Date    Store
0   1         Milk  Household       NaN         NaN  2023-07-13  Store B
1   2         Eggs        NaN      10.0         2.0  2023-07-10  Store A
2   3          NaN      Dairy       NaN        -2.5  01.07.2023  Store A
3   4       Apples    Produce      10.0         NaN  02.07.2023  Store A
4   5         Milk      Dairy       3.0         1.5         NaN  Store C

In [4]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            30 non-null     int64
 1   Product Name  27 non-null     object
 2   Category      24 non-null     object
 3   Quantity      21 non-null     float64
 4   Unit Price    20 non-null     float64
 5   Sale Date     22 non-null     object
 6   Store         30 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.8+ KB

,ID,Product Name,Category,Quantity,Unit Price,Sale Date,Store
count,30.000000,27,24,21.000000,20.000000,22,30
unique,NaN,7,5,NaN,NaN,18,3
top,NaN,Eggs,Dairy,NaN,NaN,2023/07/15,Store A
freq,NaN,6,8,NaN,NaN,4,15
mean,15.500000,NaN,NaN,6.142857,1.725000,NaN,NaN
std,8.803408,NaN,NaN,4.003570,1.875921,NaN,NaN
min,1.000000,NaN,NaN,0.000000,-2.500000,NaN,NaN
25%,8.250000,NaN,NaN,3.000000,1.500000,NaN,NaN
50%,15.500000,NaN,NaN,5.000000,1.750000,NaN,NaN
75%,22.750000,NaN,NaN,10.000000,3.750000,NaN,NaN
max,30.000000,NaN,NaN,10.000000,3.750000,NaN,NaN