In [27]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("/Users/ulia/Desktop/sales-cleaning/store_sales_dirty_data.csv")

# Show the first few rows
print(df.head())

   ID Product Name   Category  Quantity  Unit Price   Sale Date    Store
0   1         Milk  Household       NaN         NaN  2023-07-13  Store B
1   2         Eggs        NaN      10.0         2.0  2023-07-10  Store A
2   3          NaN      Dairy       NaN        -2.5  01.07.2023  Store A
3   4       Apples    Produce      10.0         NaN  02.07.2023  Store A
4   5         Milk      Dairy       3.0         1.5         NaN  Store C

In [28]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            30 non-null     int64
 1   Product Name  27 non-null     object
 2   Category      24 non-null     object
 3   Quantity      21 non-null     float64
 4   Unit Price    20 non-null     float64
 5   Sale Date     22 non-null     object
 6   Store         30 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.8+ KB

,ID,Product Name,Category,Quantity,Unit Price,Sale Date,Store
count,30.000000,27,24,21.000000,20.000000,22,30
unique,NaN,7,5,NaN,NaN,18,3
top,NaN,Eggs,Dairy,NaN,NaN,2023/07/15,Store A
freq,NaN,6,8,NaN,NaN,4,15
mean,15.500000,NaN,NaN,6.142857,1.725000,NaN,NaN
std,8.803408,NaN,NaN,4.003570,1.875921,NaN,NaN
min,1.000000,NaN,NaN,0.000000,-2.500000,NaN,NaN
25%,8.250000,NaN,NaN,3.000000,1.500000,NaN,NaN
50%,15.500000,NaN,NaN,5.000000,1.750000,NaN,NaN
75%,22.750000,NaN,NaN,10.000000,3.750000,NaN,NaN
max,30.000000,NaN,NaN,10.000000,3.750000,NaN,NaN

In [29]:
df.isnull().sum()

ID               0
Product Name     3
Category         6
Quantity         9
Unit Price      10
Sale Date        8
Store            0
dtype: int64

In [30]:
df[df.isnull().any(axis=1)]

    ID Product Name   Category  Quantity  Unit Price   Sale Date    Store
0    1         Milk  Household       NaN         NaN  2023-07-13  Store B
1    2         Eggs        NaN      10.0        2.00  2023-07-10  Store A
2    3          NaN      Dairy       NaN       -2.50  01.07.2023  Store A
3    4       Apples    Produce      10.0         NaN  02.07.2023  Store A
4    5         Milk      Dairy       3.0        1.50         NaN  Store C
6    7         Eggs        NaN      10.0        1.50  2023/07/15  Store B
7    8       Cheese  Household       NaN         NaN  2023-07-23  Store C
8    9         Eggs      Dairy      10.0         NaN         NaN  Store A
9   10         Milk      Dairy      10.0         NaN         NaN  Store B
11  12         Milk      Dairy       NaN        3.75  31.07.2023  Store C
12  13        Bread     Fruits      10.0         NaN         NaN  Store B
13  14       Butter  Household       NaN        2.00  15/07/2023  Store A
14  15          NaN  Household       NaN        1.50         NaN  Store B
15  16       Butter    Produce      10.0        3.75         NaN  Store A
17  18       Cheese        NaN       5.0       -2.50  27/07/2023  Store A
18  19         Eggs  Household       3.0         NaN  11/07/2023  Store A
20  21          NaN        NaN       3.0        2.00  2023/07/15  Store B
21  22         Soap      Dairy       NaN         NaN  30.07.2023  Store A
23  24       Cheese        NaN       NaN        0.00         NaN  Store C
24  25        Bread     Bakery       NaN        0.00  2023-07-17  Store A
25  26        Bread      Dairy       5.0         NaN         NaN  Store C
28  29       Cheese        NaN       3.0         NaN  2023-07-15  Store B

In [37]:

import pandas as pd
from datetime import datetime

# Download the CSV
file_path = "store_sales_dirty_data.csv"  
df = pd.read_csv(file_path)

# Function to convert dates"
def convert_date(date_str):
    if pd.isna(date_str):  # If the value is missing
        return None
    formats = ["%d-%m-%Y", "%d.%m.%Y", "%Y-%m-%d", "%m/%d/%Y", "%d/%m/%Y"]
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).strftime("%d-%m-%Y")
        except ValueError:
            continue
    return date_str  # If not a valid date

# Column name
date_column = "Sale Date"  

# Apply the function
df[date_column] = df[date_column].astype(str).apply(convert_date)

# Check the result
print(df.head())

# Save the cleaned data
df.to_csv("store_sales_cleaned.csv", index=False)

print("✅ dates have the same format 'store_sales_cleaned.csv'")

   ID Product Name   Category  Quantity  Unit Price   Sale Date    Store
0   1         Milk  Household       NaN         NaN  13-07-2023  Store B
1   2         Eggs        NaN      10.0         2.0  10-07-2023  Store A
2   3          NaN      Dairy       NaN        -2.5  01-07-2023  Store A
3   4       Apples    Produce      10.0         NaN  02-07-2023  Store A
4   5         Milk      Dairy       3.0         1.5         nan  Store C
✅ dates have the same format 'store_sales_cleaned.csv'